<header>
    <nav>
        <div class="container">
            <ul>
                <li>
                    @Html.ActionLink("GitHub Repository Browser", "Index")
                </li>
            </ul>
        </div>
    </nav>
</header>